{deps, [
    {emqx_tcp_300_plugin,
        {git, "https://github.com/lonycn/emqx_tcp_300_plugin.git", {branch, "main"}}}
]}.

{relx, [
    {release, {emqx_tcp_300_plugin, "0.1.0"}, [
        emqx_tcp_300_plugin
    ]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
